
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
  letter-spacing: -1px;
background: linear-gradient(to bottom right, #EE3131, #3758AD);
}
.allmovies {
  width: 75%;
  min-height: calc(100vh - 80px);
  border-right: 1px solid red;
  padding: 20px 40px;
  font-family: "roboto, sans-serif";
}

.popularmovies {
  width: 25%;
  min-height: calc(100vh - 80px);
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
h4 {
  text-transform: uppercase;
  font-weight: bold;
  border-left: 5px solid #ff9900;
  padding-left: 10px;
}
.viewall {
  color: blue;
  cursor: pointer;
}
.movies-thumbnail {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 25px;
}
.movies-thumbnail > .movie > .cover > img {
  border-radius: 5px;
}
.detail {
  width: 108px;
}

.detail > .name {
    font-weight: bolder;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.rating{
  padding-right: 45px;
  position: relative;
  
}
.rating-value{

  position:absolute;
  top:10px;
  right:0px;
  font-weight: bold;
}
.movies> .movie{
  margin-bottom: 20px ;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 30px;
}
.name{
  font-weight: bolder;
  cursor:pointer;
}
.veiw-all{
  color: #ff9900;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}
.rating{
  padding-right: 45px;
  position: relative;
}
.rating-value{
position: absolute;

}
.popularmovies{
  display: flex;
}
